$main-text: rgba(0,0,0,0.87);
$second-text: rgba(0,0,0,0.54);
$hint-text: rgba(0,0,0,0.38);
$divider: rgba(0,0,0,0.12);
$background: #fafafa;
$white: #ffffff;
$main500: #8bc34a;
$main700: #689f38;
$main300: #aed581;
$accent700: #ffab00;
$accent400: #ffc400;
$accent200: #ffd740;

@mixin tile($pixels){
    display: block;
    background: $white;
    border: thin solid $divider;
    border-radius: 3px;
    box-shadow: 0px $pixels $pixels $divider;
    padding: 5px;
}
