@import 'colors';
#image{
    display: block;
    width: inherit;
    margin: auto;
}
#image-wrapper{
    @include tile(8px);
    max-width: 650px;
    width: 90%;
    margin: 15px auto;
    padding: 10px;
}
#side{
    @include tile(3px);
    ul{
        list-style-type: none;
    }
}
