#result{
    list-style-type: none;
    padding: 50px;
}
.result-item{
    display: block;
    width: 230px;
    height: 260px;
    float: left;
    border: thin solid grey;
    margin: 5px;
    padding: 10px;
}
.result-item img{
    width: 200px;
}
