{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/bucketpage.css">
    <title>{{ bucket.name }}</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>{{ bucket.name }}</h1>
    <form method="POST" id="searchbox">
        <input type="text" name="query" value="{{ prevsearch }}">
        <input type="submit" name="querybutton" value="Send">
    </form>
    <ul id="result">
        {% for ent in bucket %}
            <li class="result-item">
                <h3>{{ ent.name }}</h3>
                <img src="/static/{{ ent.path }}" alt="image for {{ ent.name }}">
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
