{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/bucketpage.css">
    <title>{{ bucket.name }}</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>{{ bucket.name }}</h1>
    <form id="searchbox"><input type="text"></form>
    <ul id="result">
        {% for ent in bucket %}
            <li>
                <div class="result-item">
                    <h3>{{ ent.name }}</h3>
                    <img src="/static/{{ ent.path }}" alt="image for {{ ent.name }}">
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
