{% extends "base.html" %}
{% block head %}
    <title>Login</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="titlebar">Login</h1>
    <p>To access this resources you must authenticate.</p>
    <form method="POST" action="/login" id="login">
        Username<br/>
        <input type="text" name="username" value="">
        <br/>
        Password<br/>
        <input type="password" name="password" value="">
        <br/>
        <input type="submit" name="querybutton" value="LOGIN" id="loginbtn">
        <input type="hidden" name="referrer" value="{{ referrer }}">
    </form>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
