{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/bucketpage.css">
    <title>{{ bucket.name }}</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="titlebar">{{ bucket.name }}</h1>
    <form method="POST" id="searchbox">
        To search enter your query below <br/>
        <input type="text" name="query" value="{{ prevsearch }}">
        <input type="submit" name="querybutton" value="SEARCH" id="searchbtn">
    </form>
    {% if empty %}
        <div id="emptymessage">No results found</div>
    {% else %}
        <ul id="result">
            {% for key in bucket %}
            <a href="/b/{{ fbp }}/{{ key }}">
                    <li class="result-item">
                        <h3>{{ bucket[key].name }}</h3>
                        <img src="/static/{{ bucket[key].path }}" alt="image for {{ bucket[key].name }}">
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
