{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/entitypage.css">
    <title>{{ ent.name }}</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="titlebar"><a href="{{ bucketurl }}">{{ bucketname }}</a>: {{ ent.name }}</h1>
    <div id="image-wrapper">
        <img id="image" src="/blobs/preview/{{ fbp }}/{{ ent.path }}" alt="Image for {{ ent.name }}">
    </div>
    <a href="/blobs/download/{{ fbp }}/{{ ent.path }}">
        <div class="btn"><i class="material-icons md-light">file_download</i> DOWNLOAD</div>
    </a>
    <div id="side">
        <p>Tags:</p>
        <ul>
            {% for tag in ent.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        <form method="POST" id="addtag" action="" >
            <label for="tag">Add a tag</label>
            <input type="text" name="tagname" value="" id="tag">
            <input type="submit" name="submit" value="ADD" id="tagbtn" class="btn">
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
