{% extends "base.html"%}
{% block head %}
    <link rel="stylesheet" href="/static/entitypage.css">
    <title>{{ ent.name }}</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="titlebar">{{ bucketname }}: {{ ent.name }}</h1>
    <div id="image-wrapper">
        <img id="image" src="/blobs/{{ fbp }}/{{ ent.path }}" alt="Image for {{ ent.name }}">
    </div>
    <div id="side">
        <p>Tags:</p>
        <ul>
            {% for tag in ent.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        Add a tag:
        <form method="POST" id="addtag" action="" >
            <input type="text" name="tagname" value="">
            <input type="submit" name="submit" value="ADD" id="tagbtn" class="btn">
        </form>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
