{% extends "base.html" %}
{% block head %}
    <title>Login</title>
    {{ super() }}
{% endblock %}

{% block body %}
    <h1 id="titlebar">Login</h1>
    <p>To perform this action you must authenticate.</p>
    <form method="POST" action="/login" id="login">
        <label for="username">Username</label>
        <input type="text" name="username" value="" id="username">
        <br/>
        <label for="password">Password</label>
        <input type="password" name="password" value="" id="password">
        <br/>
        <input type="submit" name="querybutton" value="LOGIN" id="loginbtn">
        <input type="hidden" name="referrer" value="{{ referrer }}">
    </form>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
